
html {
  
  overflow-x: hidden;
}
body{
  font-family: "Mali", serif;
  font-size: 16px;
  line-height: 23px;
  color: #797979;
}
a {
  color: #797979;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #707070;
  text-decoration: none;
}
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
  font-weight: 400;
  color: #222222;
}
p{
  padding: 0;
  margin: 0;
}
input,
select,
button {
  outline: none;
}
input:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
textarea {
  outline: none;
}
textarea:focus {
  outline: none;
  box-shadow: none;
}
ul,
ol,
li {
  list-style: none;
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}
.container::before,
.container::after{
  content: none;
}
.wd_toppadder10 {
  padding-top: 10px;
}
.wd_toppadder20 {
  padding-top: 20px;
}
.wd_toppadder30 {
  padding-top: 30px;
}
.wd_toppadder40 {
  padding-top: 40px;
}
.wd_toppadder50 {
  padding-top: 50px;
}
.wd_toppadder60 {
  padding-top: 60px;
}
.wd_toppadder70 {
  padding-top: 70px;
}
.wd_toppadder80 {
  padding-top: 80px;
}
.wd_toppadder90 {
  padding-top: 90px;
}
.wd_toppadder100 {
  padding-top: 100px;
}
.wd_bottompadder10 {
  padding-bottom: 10px;
}
.wd_bottompadder20 {
  padding-bottom: 20px;
}
.wd_bottompadder30 {
  padding-bottom: 30px;
}
.wd_bottompadder40 {
  padding-bottom: 40px;
}
.wd_bottompadder50 {
  padding-bottom: 50px;
}
.wd_bottompadder60 {
  padding-bottom: 60px;
}
.wd_bottompadder70 {
  padding-bottom: 70px;
}
.wd_bottompadder80 {
  padding-bottom: 80px;
}
.wd_bottompadder90 {
  padding-bottom: 90px;
}
.wd_bottompadder100 {
  padding-bottom: 100px;
}
.wd_scroll_wrap {
  float: left;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: inherit;
  height: 2px;
  position: absolute;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #b5b4b4;
  border-radius: 10px;
}
/*-- Preloader css start --*/
#preloader {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483647;
  width: 100%;
  height: 100%;
}
#status {
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#status img {
}
/*-- Header Css Start --*/
.wd_slider_wrapper {
  float: left;
  width: 100%;
  height: 800px;
  background-image: url(../images/content/image_31.JPG);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .wd_slider_wrapper {
    width: 100%;
    height: 450px;
    background-image: url(../images/content/image_8.jpg);
  }
}

#headbottom {
  position: absolute;
  right: 0;
  z-index: 10;
  left: 0;
  margin: 0px auto;
  bottom: -50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 8px solid #ffffff;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #f07677;
}
#headbottom i {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  line-height: 80px;
  color: #ffffff;
  font-size: 24px;
}
.wd_slider_textinfo {
  float: right;
  width: 40%;
  padding: 0 0px 200px 100px;
  text-align: center;
}
.invitation-box-info{
  position: absolute;
  top: 55px;
  right: 60px;
  width: 105px;
  z-index: 1;
}
.wd_slider_textinfo img {
  display: inline-block;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
.wd_slider_textinfo img.name {
  height: 100%;
}

.wd_slider_textinfo h3 {
  float: left;
  width: 100%;
  font-size: 30px;
  color: #f07677;
  text-transform: capitalize;
  font-family: "Mali", serif;
  margin: 35px 0px 0px 0px;
}
.wd_slider_textinfo h1 {
  float: left;
  width: 100%;
  font-size: 40px;
  color: #111111;
  text-transform: uppercase;
  font-family: "Mali", serif;
  margin: 10px 0px 10px 0px;
}
.wow {
  visibility: hidden;
}
.wd_logo {
  float: left;
  width: 100%;
}
.wd_logo img {
  display: inline-block;
  height: 60px;
}
.wd_header_wrapper {
  float: left;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.wd_mainmenu_wrapper {
  float: left;
  width: 100%;
}
.wd_main_menu {
  float: left;
  width: 100%;
}
.wd_main_menu ul {
  float: right;
  width: auto;
  margin: 0px;
  padding: 0px;
}
.wd_main_menu ul li {
  list-style: none;
  float: left;
  width: auto;
}
.wd_main_menu ul li a {
  float: left;
  padding: 20px 16px;
  margin: 0px;
  color: #111111;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_main_menu ul li a:hover,
.wd_main_menu ul li.active a {
  color: #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.menu_fixed .wd_main_menu ul li a {
  padding: 30px 16px;
}
.wd_menu_btn {
  display: none;
}
.menu_fixed {
  position: fixed;
  z-index: 1000;
  padding: 0px 0px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -o-box-shadow: 0px 0px 25px -10px;
  -ms-box-shadow: 0px 0px 25px -10px;
  -moz-box-shadow: 0px 0px 25px -10px;
  -webkit-box-shadow: 0px 0px 25px -10px;
  box-shadow: 0px 0px 25px -10px;
}
.logo_group_mobile{
  display: none;
}
.logo_group_pc{
  display: block;
}
/*-- Button Css Start --*/
.wd_btn {
  float: left;
  width: 100%;
}
.wd_btn a {
  pointer-events: none;
  display: inline-block;
  width: auto;
  min-width: 150px;
  height: 50px;
  line-height: 49px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f07677;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: none;
  padding: 0px 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_btn a:hover {
  color: #ffffff;
  background: #111111;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_btn button {
  display: inline-block;
  width: auto;
  min-width: 150px;
  height: 50px;
  line-height: 49px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f07677;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: none;
  padding: 0px 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_btn button:hover {
  color: #ffffff;
  background: #111111;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*-- Heading Css Start --*/
.wd_heading {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.wd_heading h1 {
  float: left;
  width: 100%;
  margin: 10px 0px;
  font-size: 40px;
  font-family: "Mali", serif;
}
.wd_heading h4 {
  float: left;
  width: 100%;
  margin: 0px;
  font-size: 18px;
  color: #f07677;
  font-family: "Mali", serif;
}
.wd_heading img {
  display: inline-block;
}

/* opening_statement */
.opening_statement .opening_statement_thumb{
  width: 100%;
  height: 410px;
  overflow: hidden;
  margin-top: 20px;
}
.opening_statement .opening_statement_thumb img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}
.wd_center_words {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 10px 0px;
}
.wd_center_words:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  background-color: #797979;
  height: 1px;
  z-index: -1;
}
.wd_center_words h4 {
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Mali", serif;
  padding: 0px 15px;
  background-color: #ffffff;
}
.memory_gif{
  width: 100%;
  background-image: url(../images/content/memory.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin: auto;
}
.smalltext {
  float: left;
  width: 100%;
  padding-top: 20px;
  font-size: 18px;
  color: #222222;
  font-family: "Mali", serif;
  font-style: italic;
  color: #797979;
}
/*-- Story css Start --*/
.wd_story_wrapper {
  float: left;
  width: 100%;
  background-image: url(../images/content/story_bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.wd_overlay {
  content: "";
  position: absolute;
  background-image: url(../images/content/dot_bg.png);
  /*background-color: rgba(0, 0, 0, 0.8);*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.wd_story_wrapper .wd_heading h1 {
  color: #ffffff;
}
.wd_story_covers {
  float: left;
  width: 100%;
  position: relative;
}
.wd_story_line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 2px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  height: 100%;
}
.wd_story_covers_box_left {
  float: left;
  width: 510px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50px 0px 50px 50px;
  -moz-border-radius: 50px 0px 50px 50px;
  border-radius: 50px 0px 50px 50px;
  position: relative;
  margin: 50px 0px 150px 0px;
}
.wd_story_covers_box_left:after {
  content: "";
  position: absolute;
  right: -35px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 35px solid rgba(255, 255, 255, 0.1);
  border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_dot {
  left: -75px;
  right: auto;
}
.wd_story_dot {
  position: absolute;
  right: -75px;
  top: 30px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.wd_story_dot span {
  background-color: #f07677;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.wd_story_covers_box_right {
  float: right;
  width: 510px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0px 50px 50px 50px;
  -moz-border-radius: 0px 50px 50px 50px;
  border-radius: 0px 50px 50px 50px;
  position: relative;
  margin: 150px 0px 50px 0px;
}
.wd_story_covers_box_right:after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 35px solid rgba(255, 255, 255, 0.1);
  border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_covers_box_img {
  float: right;
}
.wd_story_covers_box_img {
  float: left;
  width: 220px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.wd_story_covers_box_img img {
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.wd_story_covers_box_right .wd_story_covers_box_datails {
  float: left;
}
.wd_story_covers_box_datails {
  float: right;
  width: calc(100% - 220px);
  padding: 35px 30px 0px 35px;
  -webkit-border-radius: 0px 0px 50px 50px;
  -moz-border-radius: 0px 0px 50px 50px;
  border-radius: 0px 0px 50px 50px;
}
.wd_story_covers_box_datails span {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #f07677;
  text-transform: uppercase;
}
.wd_story_covers_box_datails h1 {
  float: left;
  width: 100%;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 12px 0px;
}
.wd_story_covers_box_datails p {
  float: left;
  width: 100%;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 15px;
}
/*-- Event css Start --*/
.wd_event_wrapper {
  float: left;
  width: 100%;
  background-image: url(../images/content/event_bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.wd_event_infobox {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.wd_event_infobox img{
  width:230px;
}
.wd_event_infobox .map{
  width: 25px;
  margin-bottom: 3px;
}
.wd_event_infobox h2 {
  float: left;
  width: 100%;
  color: #f07677;
  font-size: 30px;
  margin: 0px;
}
.wd_event_infobox h1 {
  display: inline-block;
  width: auto;
  margin: 30px 0px;
  padding: 10px 30px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 30px;
}
.wd_event_infobox span {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #111111;
  margin-bottom: 15px;
  padding: 0px 60px;
}
.wd_event_infobox p {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.wd_event_infobox p a {
  color: #f07677;
}
.wd_event_infobox img {
  display: inline-block;
  margin-bottom: 30px;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
/*-- Guest css Start --*/
.wd_guest_wrapper {
  float: left;
  width: 100%;
  height: 570px;
  background-image: url(../images/content/image_30.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.wd_guest_wrapper .wd_heading h1 {
  color: #ffffff;
}
.wd_guest_formbox {
  float: right;
  width: 90%;
  background-color: #fafafa;
  text-align: center;
  padding: 45px 0px 0px 0px;
}
.wd_guest_formbox span {
  float: left;
  width: 100%;
  color: #111111;
  font-size: 30px;
  font-style: italic;
}
.wd_guest_formbox h4 {
  float: left;
  width: 100%;
  color: #f07677;
  font-family: "Mali", serif;
  font-size: 30px;
  margin: 15px 0px 45px 0px;
}
.wd_guest_form {
  float: left;
  width: 100%;
  background-color: #ffffff;
  padding: 45px 70px;
  text-align: left;
}
.wd_guest_form label {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  font-style: italic;
}
.wd_guest_form input,
.wd_guest_form select {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 48px;
  padding: 0px 10px;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  border-radius: 0px;
}
.wd_guest_form .wd_btn {
  text-align: center;
  margin-top: 20px;
}
.wd_guest_slider {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot span {
  background: #555555;
}
.wd_guest_slider .owl-theme .owl-dots .owl-dot.active span,
.wd_guest_slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #f07677;
}
.wd_guest_slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
}
/*-- Testimomnial css Start --*/
.wd_testimonial_wrapper {
  float: left;
  width: 100%;
  background-color: #f07677;
}
.wd_testimonial_slider {
  float: left;
  width: 100%;
}
.wd_testimo_box {
  float: left;
  width: 100%;
  text-align: center;
}
.wd_testimo_box img {
  display: inline-block !important;
  width: 63px !important;
  height: 47px;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
.wd_testimo_box p {
  float: left;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  margin: 10px 0px 3px 0px;
  line-height: 46px;
}
.wd_testimo_box h4 {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  font-family: "Mali", serif;
  margin: 0px;
}
.wd_testimonial_slider .owl-theme .owl-nav.disabled + .owl-dots {
  display: none;
}
/*-- Family css Start --*/
.wd_family_wrapper {
  float: left;
  width: 100%;
  background-image: url(../images/content/family_bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.wd_family_tabbox {
  float: left;
  width: 100%;
}
.wd_family_tabbox ul.nav {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: center;
  position: relative;
  z-index: 1;
}
.wd_family_tabbox ul.nav:after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  border: 1px solid #e4e4e4;
  width: 100%;
  z-index: -1;
  margin: 0px auto;
}
.wd_family_tabbox ul.nav > li {
  float: none;
  display: inline-block;
  width: 130px;
  background-color: #ffffff;
  margin: 0px -3px;
}
.wd_family_tabbox .nav > li > a {
  padding: 0px;
  border: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a:hover,
.wd_family_tabbox .nav > li.active > a:hover {
  background: none;
}
.wd_family_tabbox .nav > li > a:hover p,
.wd_family_tabbox .nav > li.active > a:hover p {
  color: #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a:hover img,
.wd_family_tabbox .nav > li.active > a:hover img {
  border: 4px solid #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a,
.wd_family_tabbox .nav-tabs > li.active > a:hover,
.wd_family_tabbox .nav-tabs > li.active > a:focus {
  border: none;
  background: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a p,
.wd_family_tabbox .nav-tabs > li.active > a:hover p,
.wd_family_tabbox .nav-tabs > li.active > a:focus p {
  color: #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav-tabs > li.active > a img,
.wd_family_tabbox .nav-tabs > li.active > a:hover img,
.wd_family_tabbox .nav-tabs > li.active > a:focus img {
  border: 4px solid #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
.wd_family_tabbox .nav > li > a > img {
  border: 4px solid #e4e4e4;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .nav > li > a > p {
  float: left;
  width: 100%;
  margin: 0px;
  font-family: "Mali", cursive;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_tabbox .tab-content {
  float: left;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.wd_family_tabbox .tab-content:after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  border: 1px solid #e4e4e4;
  margin: 0px auto;
}
.wd_family_slider {
  float: left;
  width: 100%;
}
.wd_family_slider .owl-theme .owl-dots {
  display: none;
}
.wd_family_slider .owl-theme .owl-nav [class*="owl-"] {
  color: #111111;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  background: #e4e4e4;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  line-height: 45px;
  text-align: center;
  border: 5px solid #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_slider .owl-theme .owl-nav [class*="owl-"]:hover {
  background: #f07677;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox_img {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}
.wd_family_infobox_img span {
  position: absolute;
  z-index: -1;
  top: 5px;
}
.wd_family_infobox_img span img {
  border-radius: 0px;
  border: none;
  width: auto !important;
  display: inline-block !important;
}
.wd_family_infobox:hover .wd_family_infobox_img span img {
  border: none;
}
.wd_family_infobox_img img {
  display: inline-block !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 4px solid #e4e4e4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: auto !important;
}
.wd_family_infobox:hover .wd_family_infobox_img img {
  border: 4px solid #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox h2 {
  float: left;
  width: 100%;
  font-size: 30px;
  text-transform: capitalize;
  color: #111111;
}
.wd_family_infobox:hover h2 {
  color: #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox p {
  float: left;
  width: 100%;
  text-transform: capitalize;
}
.wd_family_infobox ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.wd_family_infobox ul li {
  list-style: none;
  display: inline-block;
  width: auto;
  margin: 5px;
}
.wd_family_infobox ul li a {
  float: left;
  width: 45px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox ul li a:hover {
  background-color: #f07677;
  color: #ffffff;
  border: 1px solid #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_family_infobox h1 {
  float: left;
  width: 100%;
  font-size: 60px;
  margin: 0px;
  position: relative;
}
.wd_family_infobox h1:after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  border-bottom: 1px solid #f07677;
}
.wd_family_infobox h1 {
  display: inline-block;
  width: auto;
  float: none;
}
/*-- Gallery css Start --*/
.wd_gallery_wrapper {
  float: left;
  width: 100%;
  background-color: #0c0c0c;
  position: relative;
  z-index: 0;
}
.wd_gallery_wrapper .wd_heading h1 {
  color: #ffffff;
}
.wd_gallery_slider {
  float: left;
  width: 100%;
}
.wd_gallery_slide {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 27px;
  z-index: 10;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_gallery_slide img {
  display: inline-block;
}

.wd_gallery_slide:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0px auto;
  height: 100%;
  background: linear-gradient(0deg, black, transparent 100%);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_gallery_slide:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_gallery_slide:hover .ast_glr_overlay {
  bottom: 0px;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}

/* overlay styles */

.image-item {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-item:hover .overlay {
  transform: scale(1);
}

.ast_glr_overlay {
  position: absolute;
  bottom: -84px;
  left: 0;
  right: 0;
  padding: 0px 50px 40px 50px;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_glr_overlay p {
  float: left;
  width: auto;
  margin: 0px;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 24px;
  padding-top: 5px;
}
.ast_glr_overlay a {
  float: right;
  color: #f07677;
  width: 40px;
  border: 1px solid rgba(240, 118, 119, 0.5);
  text-align: center;
  height: 35px;
  line-height: 34px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_glr_overlay a:hover {
  border: 1px solid #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot span {
  width: 50px;
  height: 30px;
  margin: 5px 5px;
  background: #383838;
  border-radius: 0px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_gallery_slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  border: 1px solid #f07677;
  background: #383838;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*-- Blog css Start --*/
.wd_blog_wrapper {
  float: left;
  width: 100%;
  background-image: url(../images/content/blog_bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.wd_blog_box {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wd_blog_info {
  float: left;
  width: 100%;
  text-align: left;
  padding-top: 20px;
}
.wd_blog_info h3 {
  float: left;
  width: 100%;
  font-size: 30px;
}
.wd_blog_info ul {
  float: left;
  width: 100%;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}
.wd_blog_info ul li {
  list-style: none;
  float: left;
  width: auto;
  margin-right: 15px;
}
.wd_blog_info ul li a {
  font-size: 16px;
  color: #111111;
  font-style: italic;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_blog_info ul li a:hover {
  color: #f07677;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wd_blog_info ul li a i {
  color: #f07677;
  margin-right: 5px;
}
.wd_blog_info p {
  float: left;
  width: 100%;
}
.wd_blog_info .wd_btn {
  margin-top: 20px;
}
.wd_blog_img {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  border-radius: 50px 0px 50px 0px;
}
.wd_blog_box:hover .wd_blog_img img {
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  border-radius: 50px 0px 50px 0px;
}
.wd_blog_img img {
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  border-radius: 50px 0px 50px 0px;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*-- Contact css Start --*/
.wd_contact_wrapper {
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
}
.wd_overlay {
  content: "";
  position: absolute;
  background-image: url(../images/content/dot_bg.png);
  /*background-color: rgba(0, 0, 0, 0.8);*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.wd_contact_wrapper .wd_heading h1 {
  color: #ffffff;
}
.wd_contact_form {
  float: left;
  width: 100%;
}
.wd_contact_form input,
.wd_contact_form select,
.wd_contact_form textarea {
  float: left;
  width: 100%;
  height: 50px;
  padding: 0px 15px;
  color: #ffffff;
  border: 0px;
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}
.wd_contact_form textarea {
  padding: 15px;
  height: auto;
  resize: none;
}
.wd_contact_form .wd_btn {
  text-align: center;
  margin-top: 20px;
}
.wd_contact_form .wd_btn button {
  border: 1px solid transparent;
}
.wd_contact_form .wd_btn button:hover {
  border: 1px solid #f07677;
}
.wd_contact_form input::-webkit-input-placeholder,
.wd_contact_form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-style: italic;
}
.wd_contact_form input::-moz-placeholder,
.wd_contact_form textarea::-webkit-input-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-style: italic;
}
.wd_contact_form input:-ms-input-placeholder,
.wd_contact_form textarea::-webkit-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-style: italic;
}
.wd_contact_form input:-moz-placeholder,
.wd_contact_form textarea::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-style: italic;
}
/*-- Footer css Start --*/
.wd_footer_wrapper {
  float: left;
  width: 100%;
  background-image: url(../images/content/footer_bg.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.wd_footer_infobox {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.wd_footer_infobox h2 {
  float: left;
  width: 100%;
}
.wd_footer_infobox p {
  float: left;
  width: 100%;
  padding: 0px 70px;
}
.wd_footicon {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
.wd_footicon img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.wd_footicon i {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background-color: #f07677;
  color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 20px;
  font-size: 36px;
}

.wd_footer_bottom_wrapper {
  float: left;
  width: 100%;
  background-color: #0c0c0c;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.wd_footer_section {
  float: left;
  width: 100%;
}
.wd_footer_section img {
  float: left;
  width: auto;
  height: 93px;
}
.wd_footer_section .wd_footer_section_thanks{
  font-size: 41.6px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.04px;
  text-align: left;
  color: #474747;

}
.wd_footer_section .wd_footer_section_name{
  font-size: 20.6px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.04px;
  text-align: left;
  color: #474747;

}
.wd_footer_section .wd_footer_section_copyright{
  text-align: right;
  line-height: 65px;

}
.wd_footer_section p {
  padding-top: 8px;
  margin: 0px;
  color: #cccccc;
}
#scroll {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0px auto;
  top: -50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  line-height: 80px;
  color: #ffffff;
  font-size: 24px;
  border: 10px solid #ffffff;
  text-align: center;
  display: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #f07677;
}

#love_story {
  background: #fff;
  padding-bottom: 60px;
}
#love_story ul li {
  padding-bottom: 50px;
  background-image: url(../images/content/our-love-story-divider.png),
    url(../images/content/love-story-divider.png);
  background-position: center top, center top;
  background-repeat: no-repeat, repeat-y;
}
#love_story ul li > div:first-child {
  text-align: right;
  padding-right: 45px;
}
#love_story ul li > div:last-child {
  text-align: left;
  padding-left: 45px;
}
#love_story h2 {
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  margin-bottom: 10px;
  font-weight: 600;
}
#love_story p {
  font-size: 14px;
  line-height: 26px;
  color: #939393;
  margin-bottom: 10px;
}
#love_story a {
  font-size: 13px;
  line-height: 32px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}

#love_story .details a.read_more {
  border: 1px solid rgb(255, 109, 109);
  border-radius: 5px;
  color: #ff6d6d;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 10px;
  padding: 5px 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
#love_story .details a.read_more:hover {
  color: #fff;
}
#love_story .details a.read_more:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  background: rgb(255, 109, 109);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease 0.1s;
}
#love_story .details a.read_more:hover:before {
  width: 100%;
}

#love_story .date {
  font-size: 18px;
  line-height: 42px;
  color: #262626;
  font-style: italic;
}
#love_story .details .details_content {
  background-color: #fff;
  padding: 20px 30px;
  width: 365px;
  margin-top: -15px;
}
#love_story ul li > div:first-child .details_content {
  float: right;
}
#love_story ul li > div:first-child .details_content {
  background: url(../images/content/love-story-story-bg-left.png) no-repeat 0 0;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#love_story ul li > div:last-child .details_content {
  float: left;
}
#love_story ul li > div:last-child .details_content {
  background: url(../images/content/love-story-story-bg-right.png) no-repeat 0 0;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#love_story .load_more {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#love_story .load_more img{
  width: 50px;
  margin: 0 49.4%;
  height: auto;
}
#love_story  img{
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  height: 200px;
}
.section_title_wrap{
  text-align: center;
}
.theme-btn-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.theme-btn{
  border: 1px solid #636363;
  background: #636363;
  width: 125px;
  height: 42px;
  border-radius: 6px;
  color: var(--color-white-solid, #FFFFFF);
  padding: 5px;
  margin: 5px 4px;
  font-size: 16px;
  line-height: 29px;
}
.theme-btn:hover{
  background: #505050;
  color: var(--color-white-solid, #FFFFFF);
}
/*--------------------------------------------------------------
#0.6	invitation-section 
--------------------------------------------------------------*/
.invitation-section .invitation-box {
  background: #fff;
  max-width: 580px;
  padding: 120px 70px;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: 577px;
}

.invitation-section .calendar-box {
    padding-top: 70px;
    padding-bottom: 90px;
}

.invitation-section .calendar-box .mini_calendar{
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E6;
}

.invitation-section .calendar-box table{
    width: 100%;
}

.invitation-section .calendar-box table th{
    text-align: center;
    padding: 8px 0;
    color: #484747;
    border-top: 1px solid #CFCFD0;
    border-bottom: 1px solid #CFCFD0;
    font-size: 0.9em;
    font-weight: normal;
}
.invitation-section .calendar-box .mini_calendar table tr:nth-child(2) td {
    padding-top: 20px;
    height: 60px;
}
.invitation-section .calendar-box .mini_calendar td {
    font-size: 0.9em;
    text-align: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    color: #484747;
}
.invitation-section .calendar-box .mini_calendar .calendar-month {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Mali", cursive;
    font-weight: 600;
    color: #203447;
    text-transform: uppercase;
}
.invitation-section .calendar-box .mini_calendar td #today{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 20px;
    padding: 5px;
    background-color: rgb(200, 157, 156);
    color: #fff;
    border-radius: 50%;
}

.invitation-section .invitation-box:before {
  content: "";
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  position: absolute;
  left: 50px;
  top: 50px;
  border: 5px solid rgb(129 103 103 / 40%);
}
.invitation-name{
  width: 90%;
}
.invitation-section .invitation-box .left-vec {
  background: url("../images/invitation-left-img.png") center center/cover no-repeat local;
  width: 220px;
  height: 414px;
  position: absolute;
  left: -150px;
  top: -100px;
  z-index: -1;
}

.invitation-section .invitation-box .right-vec {
  background: url("../images/invitation-right-image.png") center center/cover no-repeat local;
  width: 400px;
  height: 508px;
  position: absolute;
  right: -120px;
  bottom: -100px;
  z-index: -1;
}

.invitation-section .calendar-box .left-vec {display:none;}
.invitation-section .invitation-box.left .right-vec {display:none;}


.invitation-section .invitation-box h2 {
  font-family: "Mali", cursive;
  font-size: 50px;
  font-size: 3.33333rem;
  margin: 0 0 0.6em;
}

.content {
  text-align: center;
  color: #f07677;
}
.content h3 {
  margin-bottom: 20px;
}

.content h3 {
  font-family: "Mali", serif;
}

.wd_guest_infobox {
  backdrop-filter: grayscale(0.5) opacity(0.8);
  background-color: rgba(255, 255, 255, 0.4);

  -webkit-backdrop-filter: blur(5px);

  backdrop-filter: blur(5px);
  opacity: 1;
}
.margin-top {
  margin-top: 20px;
}
.invitation-section.thanks_wish .invitation-box {
  background: initial;
  padding: 20px;
  height: 555px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.invitation-section.thanks_wish .invitation-box:before {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
  border: 5px solid rgb(247 148 148 / 40%);
}
.thanks_wish_img{
  width: 100%;
  height: 100%;
}
.wish_form{
  position: relative;
  z-index: 10;
}
.wish_form_title{
  font-size: 19px !important;
  font-weight: 500;
  color: #7d0303;
  margin-bottom: 20px;
}
.wish_form input{
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 10px;
  outline: none;
  width: 99%;
  margin-bottom: 15px;
  padding-left: 15px;
}
.wish_form input:focus{
  border: 1px solid #4bda41;
  height: 40px;
}
.wish_form button{
  outline: none;
  border: 1px solid #e03;
  border-radius: 50px;
  height: 45px;
  padding: 10px 20px;
  width: 100%;
  max-width: 130px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: #e03;
  margin-bottom: 20px;
}
.wish_form button:hover{
  background-color: rgb(187, 2, 42);
}
.form_wish{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wish_content{
  border-bottom: 1px dotted #ccc;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding-bottom: 7px;
  margin-top: 11px;
}
.wish_name{
  color: #780808;
  font-size: 18px !important;
  font-weight: 500;
  margin-bottom: 3px;
}
.wish_body{
  font-size: 16px !important;
  color: #290202;
  line-height: 15px;
}
.wd_timer_wrapper  .content{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.wish_form_main {
  height: 235px;
  overflow: auto;
}
.music_update{
  position: fixed;
  width: 50px;
  height: 50px;
  background: pink;
  border-radius: 50%;
  bottom: 60px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
#myAudio,
.music_update #music_off{
  display: none;
}
.btn_show_more{
  border: none;
  background: initial;
  text-decoration: underline;
  color: #fff;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}


@media (max-width: 767px) {
  .invitation-section .invitation-box {
    padding: 84px 25px;
    height: 420px;
  }
  .invitation-section .calendar-box{
    margin-top: 30px;
    height: 515px !important;
    padding: 35px 35px;
  }
  .invitation-section .invitation-box:before {
    content: "";
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: 15px;
    border: 5px solid rgb(129 103 103 / 40%);
}
  .invitation-section{
    margin-top: 45px;
  }
}

.invitation-section .invitation-box h2 + span {
  font-size: 16px;
  font-size: 1.06667rem;
  font-weight: 300;
  color: #797979;
}
.invitation-section .invitation-box h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.83em 0 1em;
}

.invitation-section .invitation-box p{
  font-size: 17px;
  font-size: 1.13333rem;
}
.invitation-section .invitation-box p.invitation_Des1{
  margin-bottom: 2em;

}

@media (max-width: 767px) {
  .invitation-section .invitation-box p {
    font-size: 12px;
    font-size: 0.8rem;
  }
  body {
    overflow: hidden;
}
.wd_timer_wrapper .content {
  width: 100%;
}
.wd_heading{
  margin-bottom: 10px;
  
}
.wd_event_infobox h1 {
  margin: 10px 0px;
  padding: 10px 24px;
  font-size: 25px;
}
.wd_event_infobox span {
  margin-bottom: 5px;
  padding: 0;
}

.logo_group_mobile{
  display: block;
}
.wd_mainmenu_wrapper,
.logo_group_pc{
  display: none;
}
.wd_heading h1 {
  font-size: 20px;
}
.wd_heading img {
  width: 67px;
  margin-top: -30px;
}
.wd_event_infobox p {
  margin-bottom: 8px;
}
.wd_event_infobox {
  margin-bottom: 13px;
}
.wd_event_infobox_3{
  display: none;
}
.memory_gif {
  height: 200px;
}
h1, .h1 {
  font-size: 25px;
}
.thanks_wish_img {
  margin-bottom: 20px;
}
.wd_footicon i {
  width: 60px;
  height: 60px;
  line-height: 64px;
  margin-bottom: 10px;
  font-size: 30px;
}
}